.my-cards.size {
  display: flex;
  max-width: 400px;
  height: 150px;
  border-radius: 25px;
  background-color: rgb(160, 160, 160);
  overflow: hidden;
  justify-content: center;
  position: relative;
}
.my-cards img {
  display: flex;
  max-width: 400px;
  height: 150px;
  border-radius: 25px;
  background-color: rgb(160, 160, 160);
  overflow: hidden;
  justify-content: center;
  position: relative;
}
@media (max-width: 600px) {
  .my-cards {
    max-width: 350px;
    margin-top: 15px;
  }

  .img-item img {
    width: 480px;
    max-height: 200px;
    padding: 5;
    margin-top: 1px;
    box-sizing: border-box;
    object-fit: cover;
    object-position: center;
  }
}

a .navbar-brand.my-brand {
  color: purple;
}

.my-cards {
  display: flex;
  max-width: 400px;
  height: 200px;
  border-radius: 25px;
  background-color: blue;
  overflow: hidden;
  justify-content: center;
  position: relative;
}

img.my-img {
  padding: 0;
  width: 400px;
  object-fit: cover;
  object-position: center;
}

.my-cards-title {
  position: absolute;
  display: flex;
  justify-content: center;
  border-radius: 0px 0px 0px 20px;
  width: 150px;
  color: antiquewhite;
  top: 0;
  right: 0;
  background-color: rgba(253, 34, 34, 0.5);
}

.bg-indigo {
  background-color: #7c2aff;
}
.img-sales {
  position: relative;
}

.img-sales .img-item {
  display: flex;
  max-width: 550px;
  left: -30px;
  top: -20px;
  box-sizing: border-box;
  margin-top: 10px;
}

.img-item img {
  width: 550px;
  height: 150px;
  padding: 5;
  box-sizing: border-box;
  object-fit: cover;
  object-position: center;
}
