.my-tabs {
  height: 30%;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(7, 13, 65, 0.3);
}

.my-contents {
  height: 50%;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(7, 13, 65, 0.3);
}
