body {
  margin: 0, auto;
}

.back-button {
  background-color: rgb(70, 70, 243);
  color: white;
  border-radius: 5px;
  width: 120px;
}

.my-button {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 80px;
}
