.wrapper {
  height: 500px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(7, 13, 65, 0.3);
}
.ceckout {
  height: 300px;
  background-color: rgb(255, 255, 255);
  border: 1px rgba(90, 87, 87, 0.2) solid;
  border-radius: 5px;
}
.box-card {
  width: 250px;
}

.minus,
.plus {
  color: white;
  height: 40px;
  width: 40px;
  background-color: #0d6efd;
  border-radius: 5px;
  border: 0;
  margin: 2px 6px;
  text-align: center;
}
/* 
.counter {
  margin-left: 12px;
  margin-bottom: 10px;
} */

.counter input {
  height: 40px;
  width: 50px;
  border-radius: 3px;
  border: 1px solid gray;
  text-align: center;
}

.ads {
  background-image: linear-gradient(
    to left,
    rgba(12, 2, 64, 0.714),
    rgb(0, 85, 255)
  );
  margin-bottom: 10px;
  border-radius: 6px;
}
.ads h5 {
  color: white;
}
